<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% import "macros.html" as macros %}
   
</head>
<body>
    
    {{macros.build_site_navigation()}}

    PORTAL
ESCOLAR
Dashboard
Notícias
Cardápio
Eventos
Confirmações
Configurações
Sair
Olá, Direção! ■
Notícias
12
Eventos
5
Alunos/participantes
8
Publicações
42
■ Aviso urgente
Reunião pedagógica amanhã às 14h.
Próximos eventos
Reunião de Pais 15/05 • 19:00 Feira de Ciências 22/05 • 09:00
Cardápio do dia
Almoço Arroz • Feijão • Frango Salada • Fruta Alérgenos: lactose
</body>
</html>