.main-container h1 {
    color: #17324d;
    font-size: 36px;
    font-weight: bold;


}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35px 150px 120px 200px;
    grid-gap: 30px ;
    width: 90%;
    margin: 40px 30px 0 0;
    grid-template-areas:
        "header     header      header      header"
        "dashboard  dashboard   dashboard   dashboard"
        "aviso      aviso       aviso       aviso"
        "days       days        days        days"
    ;


}

.header {

    grid-area: header;
}

.grid-dashboard {
    grid-area: dashboard;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    font-weight: bold;
    
}

.grid-dashboard h4{
    color: #66788a;
    
}

.grid-dashboard p {
    font-size: 40px;
    color: #17324d;
}

.card-dashboard {
    border: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 25px;
    padding-top: 10px;
}

.card-dashboard:nth-child(1) {
    border-top: 8px solid #1769e0;
   
}
.card-dashboard:nth-child(2) {
    border-top: 8px solid #e89b2c;
   
}
.card-dashboard:nth-child(3) {
    border-top: 8px solid #2d9b65;
   
}
.card-dashboard:nth-child(4) {
    border-top: 8px solid #1769e0;
   
}

.grid-aviso {
    background: #fff7e8;
    border: 2px solid #f3d59a;
    border-radius: 15px;
    grid-area: aviso;
     padding-left: 25px;
    padding-top: 15px;
    /* margin-bottom: 30px; */
    
} 
.grid-aviso h4{
    color: #e89b2c;
    
}

.grid-aviso p{
    color:#17324d;
    
}

.grid-days {
    
    grid-area: days;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    /* grid-auto-rows: 200px; */
}

.card-days{
    border: 1px solid #ccc;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 25px;
    padding-top: 20px;
}

.card-days h4{
    color: #66788a;
     font-weight: bold;
     margin-bottom: 10px;
    
} 

.card-days p{
    padding: 5px;
    
    color: #66788a;
}

.card-days:nth-child(1){
border-top: 8px solid #e89b2c;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows: auto;
}
.card-days:nth-child(2){
border-top: 8px solid #2d9b65;

display: grid;
grid-template-columns: repeat(2, 1fr);
grid-auto-rows: auto;

}

.card-days:nth-child(1) h4{
    grid-column: 1 / 3;
}
.card-days:nth-child(2) h4{
    grid-column: 1 / 3;
}