<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cadastro</title>
</head>
<body>
    
<h1>Tela de Cadastro</h1>

<form method="post">

    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome">
    <label for="sobrenome">Sobrenome</label>
    <input type="text" id="sobrenome" name="sobrenome">
    <label for="curso">Curso Matriculado</label>
    <input type="text" id="curso" name="curso">
    <label for="datanascimento">Data de Nascimento</label>
    <input type="date" id="datanascimento" name="datanascimento">


    <button type="submit">Enviar</button>

    
</form>

</body>
</html>