<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício</title>
</head>
<body>
    <h1>Exercício - <mark>TABELAS</mark></h1>
    <hr>
    <p>Escola um tabela do seu Projeto Integrador e modele ela no html de acordo com o exemplo.</p>
    <hr>
    <h3>Tabela => <mark>categorias</mark></h3>
    <h3>Atributos:</h3>
    <ol>
        <li>id_categoria</li>
        <li>nome</li>
        <li>descrição</li>
    </ol>
    
    <table border = "1">
        <tr><td colspan="5"><center><b><mark>ALUNOS</mark></b></center></td></tr>
        <th>Id Categoria Serviço</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th colspan="2">Ações</th>
        

        <tr>
            <td> 1</td>
            <td>Barbearia</td>
            <td>Corte de Cabelo</td>
            <td><center><a href=""><img src="pen.png" width="25"></a></center></td>
            <td><center><a href=""><img src="excluir.png" width="25"></a></center></td>

         <tr>
            <td> 2</td>
            <td>Clinica de Estética</td>
            <td>Massagem Relaxante</td>
             <td><center><a href=""><img src="pen.png" width="25"></a></center></td>
            <td><center><a href=""><img src="excluir.png" width="25"></a></center></td>

        <tr>
            <td> 3</td>
            <td>Salão de Beleza</td>
            <td>Micropigmentação de Sobrancelhas</td>
            <td><center><a href=""><img src="pen.png" width="25"></a></center></td>
            <td><center><a href=""><img src="excluir.png" width="25"></a></center></td>

        <tr><td colspan="5"><center><a href=""><img src="mais.png" width="40"></a><p>Adicionar</p></center></td>
    
</body>
</html>
            
            
            